body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f7f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Raleway, sans-serif !important;
  font-weight: 300;
  line-height: 1.5em; */
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none !important;
}
